<div class="form-signin container d-flex justify-content-center text-center" style="max-width:350px; height:100vh">
    <form method="post" action="/sessions/login" class="login-form align-self-center border rounded-3 p-3 w-100" >
        <br />
        <h1 class="h3 mb-3 fw-normal">Inicia Sesión</h1>
        <div class="form-floating mb-2">
            <input type="email" name="email" class="form-control py-auto" id="floatingInput" placeholder="name@example.com" />
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-2">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" />
            <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-2">
            <label>
                <input type="checkbox" value="remember-me" />
                Recordarme
            </label>
        </div>
        <button class="w-100 btn btn-lg" style="background-color:orange" type="submit">Ingresar</button>
        <div class="m-2">
            <label>
                <a href="/sessions/register">¿No tienes cuenta? Registrate</a>
            </label>
        </div>
        <p class="mt-5 mb-3 text-body-secondary">© mi-tienda</p>
    </form>
</div>