
<div class="contHome">
    <h1>¡Bienvinidos a Mi Tienda!</h1>
    <button><a href="/sessions/login">Log In</a></button>
    <button><a href="sessions/register">Sing Up</a></button>
</div>

<script src="/socket.io/socket.io.js"></script>
