<div>
    <h2>Chat</h2>
</div>


<div class="message">
  <p id="chat"></p>
</div>

<div class="formInputs">
  <form action="/message/mensaje" method="post" id="formulario">
    <input
      type="text"
      name="mensaje"
      id="mensaje"
      placeholder="Escribir mensaje aquí..."
    />
    <input type="submit" value="ENVIAR" id="button" />
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script src="/js/index.js"></script>